@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

#UserNameHere {
  display: none;
}

.UserNameBox {
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96vh;
}

#err {
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96vh;
}

.titleCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  -ms-overflow-style: none;
  color: #dcddde;
  scrollbar-width: none;
  background-image: linear-gradient(to right, #4f545c, #27292c);
}

.InputWrapper form {
  display: flex;
}

#messageBox {
  display: flex;
  height: 6em;
  width: 80em;
  padding: 10px;
  background: transparent;
  /* border: none; */
  box-shadow: none;
  color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #dcddde;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#messages {
  height: 400px;
  overflow: scroll;
}

#messageBox:focus {
  border: 3px solid #dcddde;
}

#errWrapper {
  max-width: 1100px;
  background: #fff;
  margin: 30px auto;
  overflow: hidden;
}

.sendButton {
  background-color: #4caf50;
  max-height: 3.23em;
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 1%;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  font-size: 28px;
  width: auto;
  transition: all 0.5s;
}

.sendButton:hover {
  background-color: white;
  color: #4caf50;
}

.sendButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sendButton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sendButton:hover span {
  padding-right: 25px;
}

.sendButton:hover span:after {
  opacity: 1;
  right: 0;
}

.InputWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#err .disabled {
  display: none;
}

.disabled {
  display: none;
}
